


.App {
  text-align: center;
}

:root{
  --main-color: rgb(42, 44, 163);
  --secondary-color: rgb(209, 209, 209);
  --background-color: rgb(173, 173, 173);
}

body{
  background-color: var(--background-color);
}


.logIn{
  border: 0;
  outline: 0;
  background-color: var(--secondary-color);
  width: 12rem;
  height: 15rem;
  margin: auto;
  margin-top: 10rem;
}


input{
  border: 0;
  border-bottom: 1px solid black;
  margin: 0;
  margin-left: 0.5rem;
  margin-top: 2rem; 
  padding: 0;
}


input:focus { 
  outline: none;
}


.logInBtn{
  border-radius: 100px;
  margin-top: 3rem;
  width: 8rem;
  margin-left: 2rem;
  scale: 130%;
  background-color: var(--main-color);
  color: var(--secondary-color)
}