


.App {
  text-align: center;
}

body{
  
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root{
  --main-color: rgb(42, 44, 163);
  --main-color-secondary: rgb(26, 27, 100);
  --secondary-color: rgb(209, 209, 209);
  --background-color: rgb(255, 255, 255);
}



.logIn{
  border: 0;
  outline: 0;
  background-color: var(--secondary-color);
  width: 14rem;
  height: 17rem;
  margin: auto;
  margin-top: 10rem;
  border-radius: 10px;
}



input{
  width: 13rem;
  border: 0;
  border-bottom: 1px solid black;
  margin: 0;
  margin-left: 0.5rem;
  margin-top: 2rem; 
  padding: 0;
  background-color: var(--secondary-color);
  font-size: 17px;
}

.email{
  background-image: url("https://cdn-icons-png.flaticon.com/128/646/646094.png") no-repeat;
  background-position: center;  
  background-size: 10%;

}


input:focus { 
  outline: none;
}

a{
  text-decoration: none;
}


.regBtn{
background-color: var(--main-color-secondary);
}

.logBtn{
  background-color: var(--main-color);
}

.btn{
  border-radius: 100px;
  border: 0px;
  margin-top: 1.3rem;
  width: 8rem;
  height: 1.4rem;
  margin-left: 3rem;
  scale: 135%;
  color: var(--background-color);
}

.btn:hover{
  cursor: pointer;
}


.title{
  text-align: center;
  font-size: 40px;
  color: var(--main-color);
}

.background{

  background-size: 115%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/public/assets/dentist-dentistry-smile-patient-white-dental-1446755-pxhere.com.jpg);
  /* background-image: url("https://get.pxhere.com/photo/dentist-dentistry-smile-patient-white-dental-young-female-teeth-clinic-woman-medical-treatment-whitening-care-health-professional-orthodontic-hygiene-equipment-happy-girl-team-group-portrait-adult-face-mouth-doctor-clean-background-health-care-visit-tool-collegue-oral-beautiful-perfect-procedure-people-office-caucasian-pretty-fresh-attractive-lifestyle-fun-looking-thinking-smiling-hospital-medical-equipment-service-medical-assistant-medicine-physician-nursing-nurse-1446755.jpg"); */
}

.LogInWindow{
  position:absolute; top:0px; right:0px; bottom:0px; left:0px;
} 

.error{
  margin-top: 0.5rem;
  color: rgb(216, 15, 15);
  text-align: center;
  font-weight: bold;
  height: 1rem;
} 

.header{
  display: flex;
  width: 100vw;
  height: 4rem;
  background-color: var(--main-color);

}

.AccountsEmail{
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  margin-left: 90rem;
  color: var(--secondary-color);
}

.profileTitle{
  color: var(--secondary-color);
  margin: 0;
  margin-left: 2rem;
  margin-top: 0.3rem;
  padding: 0;
}

.profilePic{
  margin-left: 5rem;
  margin-top: 3rem;
  background-size: 100%;
  height: 20rem;
  width: 20rem;
  background-image: url(/public/assets/Default_profile_picture.png);
}


.sideMenu{
  height: 100vh;
  width: 15rem;
  background-color: var(--main-color-secondary);
}


.custsomBtn{

  text-align: left;
  width: 100%;
  height: 3rem;
  margin: 0;
  margin-left: 1rem;
  padding-top: 1.4rem;
  color: var(--secondary-color);
  transition: all 0.7s;
}

.custsomBtn:hover{
  cursor: pointer;
  color: var(--background-color);
  scale: 105%;
}

.menu{
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  text-align: center;
  color: var(--secondary-color);
}

.logoutBtn{
  margin-top: 37rem;
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
  /* background-image: url("https://png.pngtree.com/png-vector/20190419/ourmid/pngtree-vector-logout-icon-png-image_956410.jpg"); */
  background-image: url(/public/assets/Logout_icon.png);
  background-size: 100%;
}

.logoutBtn:hover{
 cursor: pointer;
}