@import 'react-big-calendar/lib/css/react-big-calendar.css';

.App {
  text-align: center;
}

body{
  font-family: 'Gill Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root{

  --primary-color: 	#0d0399;
  --primary-color-darker: #02006c;
  --primary-color-dark: 		#010057;
  --primary-color-too-dark: 	#00415a;

  --secondary-color: #fff;
  --secondary-color-darker: #d8d8d8;
  --secondary-color-even-darker: #c7c4c4;
}



.logIn{
  border: 0;
  outline: 0;
  background-color: var(--secondary-color-darker);
  width: 14rem;
  height: 17rem;
  margin: auto;
  margin-top: 10rem;
  border-radius: 10px;
}



input{
  width: 11.4rem;
  border: 0;
  border-bottom: 1px solid black;
  margin: 0;
  margin-left: 0.5rem;
  margin-top: 2rem; 
  padding: 0;
  background-color: var(--secondary-color);
  background-color: var(--secondary-color-darker);
  font-size: 17px;
  padding-left: 25px;
}

.email{
  background-size: 9%;
  background-image: url(/public/assets/email_icon.png);
  background-repeat: no-repeat;
}

.password{
  background-size: 9%;
  background-image: url(/public/assets/password_icon.png);
  background-repeat: no-repeat;
}


input:focus { 
  outline: none;
}

a{
  text-decoration: none;
}


.regBtn{
background-color: var(--primary-color-dark);
}

.logBtn{
  background-color: var(--primary-color);
}

.btn{
  border-radius: 100px;
  border: 0px;
  margin-top: 1.5rem;
  width: 8rem;
  height: 1.4rem;
  margin-left: 3rem;
  scale: 135%;
  color: var(--secondary-color)
}

.btn:hover{
  cursor: pointer;
}


.title{
  text-align: center;
  font-size: 40px;
  color: var(--primary-color)
}


.Physciaititle{
  text-align: center;
  font-size: 40px;
  color: var(--primary-color);
  background-color: var(--secondary-color-darker);
}



.background{

  background-size: 115%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/public/assets/dentist-dentistry-smile-patient-white-dental-1446755-pxhere.com.jpg);
  /* background-image: url("https://get.pxhere.com/photo/dentist-dentistry-smile-patient-white-dental-young-female-teeth-clinic-woman-medical-treatment-whitening-care-health-professional-orthodontic-hygiene-equipment-happy-girl-team-group-portrait-adult-face-mouth-doctor-clean-background-health-care-visit-tool-collegue-oral-beautiful-perfect-procedure-people-office-caucasian-pretty-fresh-attractive-lifestyle-fun-looking-thinking-smiling-hospital-medical-equipment-service-medical-assistant-medicine-physician-nursing-nurse-1446755.jpg"); */
}

.LogInWindow{
  position:absolute; top:0px; right:0px; bottom:0px; left:0px;
} 

.error{
  margin-top: 0.5rem;
  color: rgb(216, 15, 15);
  text-align: center;
  font-weight: 600;
  height: 1rem;
} 

.header{
  display: flex;
  width: 100vw;
  height: 4rem;
  background-color: var(--primary-color);

}

.AccountsEmail{
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  margin-left: 90rem;
  color: var(--secondary-color);
}

.profileTitle{
  color: var(--primary-color);
  margin: 0;
  margin-left: 2rem;
  margin-top: 0.3rem;
  padding: 0;
}

.profilePic{
  margin-left: 5rem;
  margin-top: 3rem;
  background-size: 100%;
  height: 20rem;
  width: 20rem;
  background-image: url(/public/assets/Default_profile_picture.png);
}


.sideMenu{
  height: 100vh;
  width: 20rem;
  background-color: var(--primary-color );
}


.custsomBtn{
  text-align: left;
  width: 100%;
  height: 3rem;
  margin: 0;
  margin-left: 1rem;
  padding-top: 1.4rem;
  color: var(--secondary-color-darker);
  transition: all 0.7s;
}

.custsomBtn:hover{
  cursor: pointer;
  color: var(--secondary-color);
  scale: 105%;
}



.menu{
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  text-align: center;
  color: var(--secondary-color-darker)
}

.logoutBtn{
  margin-top: 37rem;
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
  /* background-image: url("https://png.pngtree.com/png-vector/20190419/ourmid/pngtree-vector-logout-icon-png-image_956410.jpg"); */
  background-image: url(/public/assets/Logout_icon.png);
  background-size: 100%;
  transition: all 0.7s;
}

.logoutBtn:hover{
 cursor: pointer;
 background-image: url(/public/assets/Logout_icon_hover.png);
 scale: 105%;
}

.dashboard{
  all: unset;
  display: flex;
}

.adminAppointments{
  width: 33%;
  height: 100vh;
  /* background-color: var(--secondary-color-darker); */
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.doctorsName{
  padding: 2px;
  font-weight: 400;
  border: 1px solid var(--main-color);
  color: var(--background-color);
  background-color: var(--main-color);
  margin: 0px;
  border: 1px solid var(--background-color);
}


.doctorTable{
  margin:auto;
  margin-top: 0;
  border-collapse: collapse ;
  width: 550px;
}


.physicianTableRow{
  background-color: var(--secondary-color);
  color: var(--primary-color-too-dark);
  font-size:x-large;
  border-left: 3px solid transparent;
}


.specField{
  text-align: right;
  color: var(--primary-color-too-dark);   
}


table tr:hover{
  cursor: pointer;
  border-left: 3px solid var(--primary-color-darker);
  color: var(--primary-color);
}

.calendar{
  /* background-color: var(--secondary-color-even-darker); */
  background-color: var(--secondary-color);
  
  padding-left: 12rem;
  padding-right: 12rem; 
  /* width: 100%; */
  width: 49rem;
}

.PhysicianInfo{   
  margin-top: 7rem;
  padding-left: 1rem;
  padding-top: 0.1rem;
  width: 98%;
  height: 14rem;
  background-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-bottom: 5rem;
}

.physiciaName{
  margin-bottom: 1rem;
  font-size: 30px;
}

p{
  font-size: 19px;
  font-weight: 500;
  max-width: 32rem;
}


.customInfo{
  color: var(--primary-color-darker);
  font-weight: 700;
}

h2{
  margin-bottom: -0.5rem;
}

.testing{
  width: 30rem;
}

.physicianWindow{
  background-color: var(--secondary-color);
  overflow-y: scroll;
  height: 30rem;
}

.Allappiointments{
  margin-top: 3rem;
  width: 40rem;
}


.delete{
  background-image: url(/public/assets/delete.png);
  width: 4rem;
  height: 1.3rem;
  background-repeat: no-repeat;
}

.AllAppointmentsTitleRow{
  color: black;
  font-size: 20px;
  font-weight: 700;
  width: 40rem;
}

.AllAppointmentsRow{
  color: var(--primary-color);
  font-size: 17px;
  font-weight: 600;
}